<div class="formContainer">
<div class="addForm">
<form ng-submit="submit()">
  <label for="carID">car ID:</label>
  <input type="text" id="carID" ng-model="carID" name="carID"><br>
  <label for="frontCamDeg">Front Cam Deg:</label>
  <input type="text" id="frontCamDeg" ng-model="frontCamDeg" name="frontCamDeg">
  <label for="rearCamDeg">Rear Cam Deg:</label>
  <input type="text" id="rearCamDeg" ng-model="rearCamDeg" name="rearCamDeg">
  <label for="frontToeMm">Front Toe mm:</label>
  <input type="text" id="frontToeMm" ng-model="frontToeMm" name="frontToeMm">
  <label for="rearToeMm">Rear Toe mm:</label>
  <input type="text" id="rearToeMm" ng-model="rearToeMm" name="rearToeMm">
  <label for="frontSpringRates">Front Spring Rates:</label>
  <input type="text" id="frontSpringRates" ng-model="frontSpringRates" name="frontSpringRates">
  <label for="rearSpringRates">Rear Spring Rates:</label>
  <input type="text" id="rearSpringRates" ng-model="rearSpringRates" name="rearSpringRates">
  <label for="comments">Comments:</label>
  <input type="text" id="comments" ng-model="comments" name="comments">
  <input type="submit" id="submit" value="Submit" />
</form>
</div>
</div>