<div class="formContainer">
<div class="addForm">
<form ng-submit="submit()">
  <label for="locationID">Location ID:</label>
  <input type="text" id="locationID" ng-model="locationID" name="LocationID"><br>
  <label for="locationName">Location Name:</label>
  <input type="text" id="locationName" ng-model="locationName" name="locationName">
  <label for="comments">Comments:</label>
  <input type="text" id="comments" ng-model="comments" name="comments">
  <input type="submit" id="submit" value="Submit" />
</form>
</div>
</div>